menu "Mqtt Thigsboard Configuration"

    config PROVISION_KEY_MQTT
        string "Provision Key Thingsboard"
        default  "7q3oikap98fej6ogajve"
        help
            Provision key del perfil de dispositivo de Thingsboard

    config PROVISION_SECRET_MQTT
        string "Provision Secret Thingsboard"
        default "wv3nqps7o6udtjfytfiy"
        help
            Provision secret del perfil de dispositivo de Thingsboard

    config BROKER_URL
        string "Broker URL"
        default "mqtts://192.168.1.119:8883"
        help
            URL del broker al que se conecta


endmenu