menu "Mqtt Thigsboard Configuration"

    config PROVISION_KEY
        string "Provision Key Thingsboard"
        default  "zu1eo2u39gswqdy98jls"
        help
            Provision key del perfil de dispositivo de Thingsboard

    config PROVISION_SECRET
        string "Provision Secret Thingsboard"
        default "auij6l6olicsoo4w2p7q"
        help
            Provision secret del perfil de dispositivo de Thingsboard

    config BROKER_URL
        string "Broker URL"
        default "mqtts://192.168.1.119:8883"
        help
            URL del broker al que se conecta


endmenu